.loader-wrapper {
  position: fixed;
  inset: 0;
    background: #ffffff;
// background: linear-gradient(106deg, #49a768, #009999);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: #000;
//   animation: fadeOut 0.6s ease forwards;
//   animation-delay: 0.2s;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid #ccc;
  border-top-color: $pr-base;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// @keyframes fadeOut {
//   to {
//     opacity: 0;
//     visibility: hidden;
//   }
// }
